body {
  background: #ccc;
}

main > div {
  padding: 0 10px;
}

.hidden {
  display: none !important;
}

.resolved {
  text-decoration: line-through;
}

.form, .form-actions {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.margin-0 {
  margin: 0 !important;
}

.margin-10 {
  margin: 10px 0 !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.jumbotron, .navbar {
  margin-bottom: 0px !important;
}

.middle-960 {
  background: #fff;
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.bg-black {
  background-color: #333;
  color: #ccc;
}

.full-height {
  height: 100%;
}

.home-page {
  height: 230px;
  left: 50%;
  margin: -115px 0 0 -215px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 420px;
}